@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
  background-color: white;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="32" height="32"><circle cx="8" cy="8" r="7" fill="black"/></svg>') 8 8, auto;
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  h1 {
     font-size: 1.69em;
  }

  h2 {
    font-size: 1.5em;
  }

  h1 {
    font-size: 1.5em;
  }
}

.intrContainer {
  max-width: 600px; 
  width: 100%;
}

body {
  padding: 0 30px;
  font-family: 'Manrope', sans-serif;
  overflow: auto;
  -webkit-font-smoothing: antialiased; 
}

.introText {
  width: 100%;
}

h1{
  font-size: 1.69em;
  line-height: 1.7;
  color:#000000;
}

h2{
  font-size: 1.2em; 
  line-height: 1.7;
}

a {
  text-decoration: none; 
  color:  #01EA00; 
}

a:hover {
  color:  #0000ff; 
}

.hoverImagePreview {
  position: absolute;
  display: none;
  width: 200px;
  height: auto;
  z-index: 100;
}

.hoverImagePreview img {
  max-width: 100%;
  max-height: 100%;
}




/* 
<!-- ................................................................::::::::::::::::::::::::::::::::::::
......................................................................................::::::::::::::
....................................................................:-===-::.............:::::::::::
...............................................................:=*%%@%@@@@%=:...............::::::::
............................................................:+%%@@@@@%@@@@@%:...................::::
.....................-*%%%#*+-::.........................:*#%@@@@@@@@@@@@@@%=....................:::
....................*@@@%@@@@@@%%%*-:..................-*%%@@@@@@@@@@@@@@@@@=.......................
...................=%%%@@%@%@@@@@%@@%#+:..:--+*####**#%%%@@@@@@@@@@@@@@@@@@@#:......................
...................+%@@@@@@@@@@@@@@@@@@@%%%%%%@@@%%%%@@@@@@@@@@@@@@@@@@@@@@@#:......................
..................:*%@@@@@@@@@@@@@@@@@@@%@@@@@@@@@%%@%@@@@@@@@@@@@@@@@@@@@@@#:......................
...................+%@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@%:......................
...................+%@@@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@%@@@@@@@@@@%-......................
...................=%@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@%:......................
....................#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#:......................
....................=%%@@@@@@@@@@@@@@@%%%%%@@@@@@@@@@@@@@@@@%+=-==*%@@@@@@@@#:......................
....................:*%%%@@@@@@@%%*::====::-#%@@@@@@@@@@@@*---::::::-+%@@@@@#:......................
......................*%@@@@@@@@+--:::::..:=::+%%@%@@@@%*:--:-::.:::::=%@@@%*:......................
......................:#%@@@@@@#::--:..:-=:.-:.-%@@@@@@=.--:-.:+=-=+--:-%@@@%-......................
.......................*@@@%%%%-=:.--:--:.-=.-::*@@@@@%=.-.-::=.=++:::-:-*@@@#......................
.......................+%%%%%@+:.=::--:::=.:=.=:-%%@@%%-.-.=.=-:+:::::::=-%@@%-.....................
.......................+%%%@@#::-:::...-.::.-::::*@@@@#:.-:-::+::=---:=:-:+@@%=.....................
.......................=%%@%%#::-:::+-.=-.-.-::::*%%%%%#::=:=:.=-::::=:=:-=@@%#:....................
.......................:#%%%%#::::=::==::=::+.-:-%@@@@@@*:::.=:..:::::-::-#@###:....................
........................+#%@@%=-:-.:=-==-::+.:-:+@@@@@@@%-::-::--=+===:==#@@=-*-....................
........................-#+#%%%--:::::::-=:.:=:-%@@@@%@%%@%=::=--::::=-=%@%---=.....................
........................:+:-%@@%=:=:......:+-:=%@@@@@@@@@@@@@#+-:::::+%@@@#:-#-.....................
.........................-::=%%%@%*--:-=-:::=%@@@@@@@@@@@@@@@@@@@@@@@@@@%=::-+......................
..........................+%++%@@@@%%%%*#%@@@@%@@%@@@@@@@@@@@@@@@@@@@@@%-=#%#:......................
..........................:#*::=#%@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%#=-:-##:.......................
...........................:#*%%*::-#@@@@@@@@@@@@@@@@@@@@@@@@@@%--:::=%*#%*:........................
............................:*%%#::-+:=#%%%@@%@%@@@@@%*+====-:::+@%+:-%@%=..........................
..............................=#%%##%*-:::=-::--::.::+::::#@%+-+%@@%%%%+:...........................
................................-*%%@@%@%@@#::=%#-::+@@%+%@@@@@@@@@%#=:.............................
...................................-=*%%%@@@%%%@@@@%@@@@@@@@@@@@%+-:::..............................
.......................................-%@@@@@@@@@@@@@@@@@@@@@@@*::::::::::.........................
......................................-%@@@@@@@@@@@@@@@@@@@@@@@@@*-:::::::::::::::::................
.....................................:*%@@@@@@@@@@*=*%@@@@@@@@@@@@*:::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::=%@@@@@@@@@@%*@%*@@@@@@@@@@@@%=---------------------:::::::::::
....................:::::::::::::::::+%@@@@@@@%-*#+%-#@@@@@@@@@@@@%=::::::::::::::::::::::::::::::::
....................................:*%%%@@@@@@*##+**++*@@@@@@@@@@%=::::::::::::::::::::::::::::::::
....................................:#@%%@@@@@@@@%-*@@@@%@@@@@%@%@%*-:::::::::::::::::::::::::::::::
...................:-=++++===========*@@@@@%@%@@@==#@@@%@@@@@%@@@@@*-:::::::::::::::::::::::::::::::
..................-#%%@@@@@@@%%%%@@@@@@@@@@@@%@@%-=%@@@@@@%@%@@@@@@%%%%#+-::::::::::::::::::::::::::
.................:+%%@@@@@@@%%%%@@@@@@@%@@@@@%%%%+*@@@%@@%@@@@@@@@@@@@@@%#=:::::::::::::::::::::::::
..................:=**+=-::-%%%%%@@@@@@@%@@@@%@@@@@@@%@@@@@@@@@@@@@@@@@@@@#-::::::::::::::::::::::::
.....................::::::-%%%@@%@@@@@%@@@@@@@@@@@@@%%@@@@@@@@@@@@@@@@@@@%=:::::::::::::::::::::...
.....................:::::::+%%%@@@@@%@@@@%%@@@@@@@@@%@@@@@%@@@@@@@@@@@@@@%-:::::::::::::::.........
.........................::::#%%%@@@%%@@@@@%%%@@@@@@@@@@@@@%@@%@@@@@@@@@@%+:::::::::................
.......................::::::-*%%@%%%%%%%@@%@@@@@@@@@%@@@@%%@@@@@@@@@@%@%#-:::::::..................
.........................::::::=#%%@%%%%%%@@@@@@%%@@@%%%@@@@@@%%@@@@@@%%#=--:::::...................
..........................:::::::-=*#%#%%@@%%%@%#***#%%%%@@@%%@@@@@@@@%+=-:::::.....................
..........................:::::::::::-=+#%@@@@%#+==--=%%%@%%%%%**+==--:::::::.......................
.........................:::::::::::::::::::::::::::::=+##%##*+=--:::::::::::::::.......::::::::::::
......................::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::.............:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: --> */