@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
  background-color: white;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="32" height="32"><circle cx="8" cy="8" r="7" fill="black"/></svg>') 8 8, auto;
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
    font-size: 9px;
  }
}

.introContainer {
  max-width: 600px; 
  width: 100%;
}

body {
  padding: 0 30px;
  margin-top: 30px;
  font-family: 'Manrope', sans-serif;
  overflow: auto;
  -webkit-font-smoothing: antialiased; 
}

.introText {
  width: 100%;
  /* margin-top: 24px; */
}

h1{
  font-size: 1.81em;
  line-height: 1.7;
  color:#000000;
}

h2{
  font-size: 1.2em; 
  /* margin: 1.7; */
}

h3{
  font-size: 1.6em; 
  /* margin: 1.7; */
}

ul{
  line-height: 1.5;
  margin: 0;
  /* padding-top: 0; */
}

li {
  list-style-type:circle;
}

.preWrapper ul li {
  margin-top: -49px; /* Adjust this value as needed */
  /* margin-bottom: 30px; */
}

a {
  text-decoration: none; 
  color:  #01EA00; 
}

a:hover {
  color:  #0000ff; 
}

.hoverImagePreview {
  position: absolute;
  display: none;
  width: 200px;
  height: auto;
  z-index: 100;
}

.hoverImagePreview img {
  max-width: 100%;
  max-height: 100%;
}

::-webkit-scrollbar{
  width: 42px;
}

::-webkit-scrollbar-track{
  background-color:white;
}

::-webkit-scrollbar-thumb{
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  background:linear-gradient(to right, yellow 3%, #00f000 70%);
  /* background-color:pink; */
  border-radius:50vh;
  display:inline-block;
  /* padding:1.2vh 1.2vh; */
  text-decoration:none;
}

pre {
  background-color: white;
  margin: 0; /* reduced margin to 0 to fit within .preWrapper */
  /* width: 100%; */
  /* height: auto; */
  overflow-x: auto;
  overflow-y: auto;
  max-height: 220px;
  /* border-radius: 40px;  */
}

.preWrapper {
  background-color: white;
  /* border: 1px solid #00f000 ; */
  /* margin: 0%; */
  width:85%;
  /* height: 20%; */
  overflow: auto;
  border-radius: 45px;
}




/* 
<!-- ................................................................::::::::::::::::::::::::::::::::::::
......................................................................................::::::::::::::
....................................................................:-===-::.............:::::::::::
...............................................................:=*%%@%@@@@%=:...............::::::::
............................................................:+%%@@@@@%@@@@@%:...................::::
.....................-*%%%#*+-::.........................:*#%@@@@@@@@@@@@@@%=....................:::
....................*@@@%@@@@@@%%%*-:..................-*%%@@@@@@@@@@@@@@@@@=.......................
...................=%%%@@%@%@@@@@%@@%#+:..:--+*####**#%%%@@@@@@@@@@@@@@@@@@@#:......................
...................+%@@@@@@@@@@@@@@@@@@@%%%%%%@@@%%%%@@@@@@@@@@@@@@@@@@@@@@@#:......................
..................:*%@@@@@@@@@@@@@@@@@@@%@@@@@@@@@%%@%@@@@@@@@@@@@@@@@@@@@@@#:......................
...................+%@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@%:......................
...................+%@@@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@%@@@@@@@@@@%-......................
...................=%@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@%:......................
....................#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#:......................
....................=%%@@@@@@@@@@@@@@@%%%%%@@@@@@@@@@@@@@@@@%+=-==*%@@@@@@@@#:......................
....................:*%%%@@@@@@@%%*::====::-#%@@@@@@@@@@@@*---::::::-+%@@@@@#:......................
......................*%@@@@@@@@+--:::::..:=::+%%@%@@@@%*:--:-::.:::::=%@@@%*:......................
......................:#%@@@@@@#::--:..:-=:.-:.-%@@@@@@=.--:-.:+=-=+--:-%@@@%-......................
.......................*@@@%%%%-=:.--:--:.-=.-::*@@@@@%=.-.-::=.=++:::-:-*@@@#......................
.......................+%%%%%@+:.=::--:::=.:=.=:-%%@@%%-.-.=.=-:+:::::::=-%@@%-.....................
.......................+%%%@@#::-:::...-.::.-::::*@@@@#:.-:-::+::=---:=:-:+@@%=.....................
.......................=%%@%%#::-:::+-.=-.-.-::::*%%%%%#::=:=:.=-::::=:=:-=@@%#:....................
.......................:#%%%%#::::=::==::=::+.-:-%@@@@@@*:::.=:..:::::-::-#@###:....................
........................+#%@@%=-:-.:=-==-::+.:-:+@@@@@@@%-::-::--=+===:==#@@=-*-....................
........................-#+#%%%--:::::::-=:.:=:-%@@@@%@%%@%=::=--::::=-=%@%---=.....................
........................:+:-%@@%=:=:......:+-:=%@@@@@@@@@@@@@#+-:::::+%@@@#:-#-.....................
.........................-::=%%%@%*--:-=-:::=%@@@@@@@@@@@@@@@@@@@@@@@@@@%=::-+......................
..........................+%++%@@@@%%%%*#%@@@@%@@%@@@@@@@@@@@@@@@@@@@@@%-=#%#:......................
..........................:#*::=#%@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%#=-:-##:.......................
...........................:#*%%*::-#@@@@@@@@@@@@@@@@@@@@@@@@@@%--:::=%*#%*:........................
............................:*%%#::-+:=#%%%@@%@%@@@@@%*+====-:::+@%+:-%@%=..........................
..............................=#%%##%*-:::=-::--::.::+::::#@%+-+%@@%%%%+:...........................
................................-*%%@@%@%@@#::=%#-::+@@%+%@@@@@@@@@%#=:.............................
...................................-=*%%%@@@%%%@@@@%@@@@@@@@@@@@%+-:::..............................
.......................................-%@@@@@@@@@@@@@@@@@@@@@@@*::::::::::.........................
......................................-%@@@@@@@@@@@@@@@@@@@@@@@@@*-:::::::::::::::::................
.....................................:*%@@@@@@@@@@*=*%@@@@@@@@@@@@*:::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::=%@@@@@@@@@@%*@%*@@@@@@@@@@@@%=---------------------:::::::::::
....................:::::::::::::::::+%@@@@@@@%-*#+%-#@@@@@@@@@@@@%=::::::::::::::::::::::::::::::::
....................................:*%%%@@@@@@*##+**++*@@@@@@@@@@%=::::::::::::::::::::::::::::::::
....................................:#@%%@@@@@@@@%-*@@@@%@@@@@%@%@%*-:::::::::::::::::::::::::::::::
...................:-=++++===========*@@@@@%@%@@@==#@@@%@@@@@%@@@@@*-:::::::::::::::::::::::::::::::
..................-#%%@@@@@@@%%%%@@@@@@@@@@@@%@@%-=%@@@@@@%@%@@@@@@%%%%#+-::::::::::::::::::::::::::
.................:+%%@@@@@@@%%%%@@@@@@@%@@@@@%%%%+*@@@%@@%@@@@@@@@@@@@@@%#=:::::::::::::::::::::::::
..................:=**+=-::-%%%%%@@@@@@@%@@@@%@@@@@@@%@@@@@@@@@@@@@@@@@@@@#-::::::::::::::::::::::::
.....................::::::-%%%@@%@@@@@%@@@@@@@@@@@@@%%@@@@@@@@@@@@@@@@@@@%=:::::::::::::::::::::...
.....................:::::::+%%%@@@@@%@@@@%%@@@@@@@@@%@@@@@%@@@@@@@@@@@@@@%-:::::::::::::::.........
.........................::::#%%%@@@%%@@@@@%%%@@@@@@@@@@@@@%@@%@@@@@@@@@@%+:::::::::................
.......................::::::-*%%@%%%%%%%@@%@@@@@@@@@%@@@@%%@@@@@@@@@@%@%#-:::::::..................
.........................::::::=#%%@%%%%%%@@@@@@%%@@@%%%@@@@@@%%@@@@@@%%#=--:::::...................
..........................:::::::-=*#%#%%@@%%%@%#***#%%%%@@@%%@@@@@@@@%+=-:::::.....................
..........................:::::::::::-=+#%@@@@%#+==--=%%%@%%%%%**+==--:::::::.......................
.........................:::::::::::::::::::::::::::::=+##%##*+=--:::::::::::::::.......::::::::::::
......................::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::.............:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: --> */